body {
  background-color: #FBF8F1;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  color: Silver;
  height: 0;
  width: 5%;
}

h1 {
  color: #54BAB9;
}

h3 {
  color: #54BAB9;
}

img {
  background-color: #FBF8F1;
}
